<h1>{{playerName}}, choose your POKéMON!</h1>

<div id="needhelp">
  <p>If this is your first POKéMON, go to <a href="../help/" target="blank">help</a>.</p>
</div>

<div id="PokemonSelector">  
  <p>You may pick one POKéMON:</p>
  <div id="chosenPokemonIcon"></div>
  <input type="radio" name="chosenPokemon" value="charmander" (click)="chooseCharmander()" id="chooseCharmander">
  <label class="pokeballLabel" id="charmanderLabel" for="chooseCharmander"></label>
  <input type="radio" name="chosenPokemon" value="squirtle" (click)="chooseSquirtle()" id="chooseSquirtle">
  <label class="pokeballLabel" id="squirtleLabel" for="chooseSquirtle"></label>
  <input type="radio" name="chosenPokemon" value="bulbasaur" (click)="chooseBulbasaur()" id="chooseBulbasaur">
  <label class="pokeballLabel" id="bulbasaurLabel" for="chooseBulbasaur"></label>
  <div id="chosenPokemonText"></div>
  <input type="button" value="Yes, let's play!" (click)="commitchoice()" id="commitbutton">
</div>



<!-- <div id="testCatch">
  #: <input type="text" id="pokemonNummer">
  Level: <input type="text" id="pokemonLevel">
  <input type=button (click)="voegPokemonToe()" value="Catch this Pokemon">
 <input type=button (click)="pokedex()" value="Load all available Pokemon species with their unique number">
  <div id=hints> </div>
</div> -->
