<h1>{{playerName}}, choose your POKéMON!</h1>

<div id="needhelp">
  <p>If this is your first POKéMON, go to <a href="../help/" target="blank">help</a>.</p>
</div>

<div id="chosePokemonWrapper">  
  <div id="chosenPokemonIcon"></div>
  <input type="radio" name="chosenPokemon" value="charmander" (click)="chooseCharmander()">
  <input type="radio" name="chosenPokemon" value="squirtle" (click)="chooseSquirtle()">
  <input type="radio" name="chosenPokemon" value="bulbasaur" (click)="chooseBulbasaur()">
  <div id="chosenPokemonText"></div>
  <input type="button" value="Yes, let's play!" (click)="commitchoice()">
</div>

<!-- <input type="button" value="check" (click)="checkNames()"> -->
