<div id="town">
  <a href="../rival-battle/" id="rivalBattleIcon"><img src="../../assets/img/gym.png" alt="Battle!"></a>
  <a href="../pokecenter/" id="pokecenterIcon"><img src="../../assets/img/pokecenterblue.png" alt="Visit Pokécenter"></a>
  <a href="../wild-battle/" id="wildBattleIcon"><img src="../../assets/img/tallgrass.png"></a>
  <a href="../pokedex/" id="pokedexIcon"><img src="../../assets/img/pokedex.png" alt="View Pokédex"></a>
  <a href="../pokemon/" id="pokemonIcon"><img src="../../assets/img/pokemon.png" alt="View Pokémon"></a>
</div>