/* You can add global styles to this file, and also import other style files */
/* body {
    border: 5px solid grey;
}

#wrapper {
    border: 5px solid blue;
    display: inline-block;
    width: 500px;
    margin: auto;
}

#routerWrapper {
    border: 5px solid red;
} */